## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_GMKTEC

choice
	prompt "Mainboard model"

source "src/mainboard/gmktec/*/Kconfig.name"

endchoice

source "src/mainboard/gmktec/*/Kconfig"

config MAINBOARD_VENDOR
	default "GMKtec"

endif # VENDOR_GMKTEC
